@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #fffeee;
}

.section {
    padding: 32px 0;
}

// Headlines
.headline {
    color: inherit;
    line-height: 150%;
    margin-bottom: 1.125rem;
    margin-top: 0;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    font-weight: normal;

    &--white {
        color: #ffffff;
    }

    &--h1 {
        font-size: 3rem;
    }
    &--h2 {
        font-size: 2.5rem;
    }
    &--h3 {
        font-size: 2rem;
    }
    &--h4 {
        font-size: 1.25rem;
    }
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.25rem;
}

/* Main Menu */
.main-menu {

    &__list {
        padding-top: 4px;
        min-width: 240px;

        &-item {}
    }
}